RewriteEngine On

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# Custom routes
RewriteRule ^restaurant/([a-zA-Z0-9_-]+)/?$ user/menu.php?slug=$1 [L]
RewriteRule ^order/([A-Za-z0-9]+)/?$ user/order.php?track=$1 [L]

Options -Indexes
